<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Eagle Air - {% block title %}{% endblock title %}</title>

    {% block extra_top_js %}{% endblock extra_top_js %}

    <link rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}" media="screen,projection">
  </head>
  <body>
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.js '}"></script>
        <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
  </body>
</html>
