/* line 10, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
body, h1 {
  color: #231f20; }

/* line 14, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
.blacken {
  background-color: #231f20; }

/* line 18, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
.poster {
  background: #FFFFFF;
  min-height: 500px; }
  /* line 22, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
  .poster h1 {
    color: #eee;
    font-weight: lighter; }
  /* line 26, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
  .poster .slogan {
    color: #eee;
    font-weight: lighter; }

/* line 36, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
.search-form .search-btn {
  left: 50%;
  margin-left: -77px; }
/* line 41, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
.search-form .error-panel h5 {
  font-size: 1.1rem; }
/* line 44, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
.search-form .error-panel li {
  list-style-type: disc;
  margin-left: 1em; }

/* line 51, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
.flight-list {
  display: table; }
  /* line 53, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
  .flight-list .flight-info {
    display: table-row;
    height: 100%;
    text-decoration: none;
    font-style: none;
    color: none; }
    /* line 60, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
    .flight-list .flight-info .flight-code {
      display: block;
      line-height: 1.5em;
      margin-bottom: 1em; }
    /* line 66, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
    .flight-list .flight-info .flight-departure, .flight-list .flight-info .flight-arrival {
      display: table-cell;
      padding: 2em 2.5em; }
      /* line 69, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
      .flight-list .flight-info .flight-departure .date, .flight-list .flight-info .flight-arrival .date {
        display: table-row; }
      /* line 72, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
      .flight-list .flight-info .flight-departure .time, .flight-list .flight-info .flight-arrival .time {
        display: table-row; }
      /* line 75, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
      .flight-list .flight-info .flight-departure .airport, .flight-list .flight-info .flight-arrival .airport {
        display: table-row;
        font-weight: bold; }
    /* line 81, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
    .flight-list .flight-info .first-class, .flight-list .flight-info .business-class, .flight-list .flight-info .economy-class {
      display: table-cell;
      padding: 2em 2.5em;
      height: 100%; }
      /* line 86, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
      .flight-list .flight-info .first-class .seats, .flight-list .flight-info .business-class .seats, .flight-list .flight-info .economy-class .seats {
        border: 1px solid #333;
        padding: 1em;
        display: table-row; }
      /* line 91, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
      .flight-list .flight-info .first-class .prices, .flight-list .flight-info .business-class .prices, .flight-list .flight-info .economy-class .prices {
        text-align: center;
        float: left;
        display: table-row; }

/* .time { */
/* display: block; */
/* font-size: 1.9rem; */
/* line-height: 28px; */
/* } */
/* .airport { */
/* display: inline; */
/* } */
/* } */
/* line 115, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
.testimonials i {
  text-align: center;
  padding-left: 50%;
  margin-left: -12.5%; }
/* line 120, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
.testimonials h4 {
  text-align: center; }

/* line 126, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
.clear {
  clear: both; }

/* line 130, /Users/khzaw/Code/school/eagleair/eagleair/static/sass/main.scss */
body {
  background-color: #FCFCFC; }


/*# sourceMappingURL=../../../../../../../../static/sass/main.css.map */