// colorscheme
$black: rgb(35, 31, 32);
$brown: #894F21;
$yellow: #E6DED2;
$blue: #7DA3A7;
$white: #ffffff;
$body-bg: #FCFCFC;


body, h1 {
  color: $black;
}

.blacken {
  background-color: $black;
}

.poster {
  background: #FFFFFF;
  min-height: 500px;

  h1 {
    color: #eee;
    font-weight: lighter;
  }
  .slogan {
    color: #eee;
    font-weight: lighter;
  }
}

.login-form {
}

.search-form {
  .search-btn {
    left: 50%;
    margin-left: -77px;
  }
  .error-panel {
    h5 {
      font-size: 1.1rem;
    }
    li {
      list-style-type: disc;
      margin-left: 1em;
    }
  }
}

.flight-list {
  li {
    float: left;

    .flight-code {
      display: block;
      line-height: 1.5em;
      margin-bottom: 1em;
    }

    .flight-departure {
      float: left;
      width: 150px;
      height: 100px;
    }

    .flight-arrival {
      margin-left: 150px;
      height: 100px;
    }

  }

  .time {
    display: block;
    font-size: 1.9rem;
    line-height: 28px;
  }
  .airport {
    display: inline;
  }

}

.testimonials {
  i {
    text-align: center;
    padding-left: 50%;
    margin-left: -12.5%;
  }
  h4 {
    text-align: center;
  }
}


.clear {
  clear: both;
}

body {
  background-color: $body-bg;
}

nav {
}
