{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="section no-pad-bot no-pad-top" id="index-banner">


        <!--
           - <div class="row">
           -   <section class="col s12 poster valign-wrapper">
           -     <div class="valign">
           -       <h1 class="header center">Eagle Airlines</h1>
           -       <div class="row center"> <h5 class="header col s12 slogan">Fly the Friendly skies.</h5> </div>
           -     </div>
           -   </section>
           - </div>
           -->

        <div class="row">
          <section class="col s12 poster valign-wrapper">
            <div class="valign">
              <h2 class="header center">Where would you like to go?</h2>
                <form class="search-form" action="booking/search_results/" method="get">

                  <div class="row">
                      {% for radio in form.trip_type %}
                      <div class="col s4 offset-s2">
                        <p>
                          {{ radio.tag }}
                          <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                        </p>
                      </div>
                      {% endfor %}
                  </div>


                  <div class="row">
                    <div class="col s12 m4">
                      <label for="{{form.no_of_guests.id_for_label}}">Guests</label>
                      {{form.no_of_guests}}
                    </div>

                    <div class="col s12 m4">
                      <label for="{{form.depature.id_for_label}}">From</label>
                      {{form.departure}}
                    </div>

                    <div class="col s12 m4">
                      <label for="{{form.arrival.id_for_label}}">To</label>
                      {{form.arrival}}
                    </div>

                  </div>

                  <div class="row">
                    <div class="col s12 m6">
                      <label for="">Departing Date</label>
                      {{form.departure_date}}
                    </div>

                    <div class="col s12 m6">
                      <label for="">Arrival Date</label>
                      {{form.arrival_date}}
                    </div>
                  </div>



                  <div class="row">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light search-btn" type="submit" name="action">Search <i class="mdi-content-send right"></i> </button>
                    </div>
                  </div>

                  {% if form.errors %}
                  <div class="row error-wrapper">
                    <div class="card-panel error-panel red lighten-2">
                      {% for error in form.non_field_errors %}
                      <h5>Errors</h5>
                      <ul>
                        <li><strong> {{ error|escape }}</strong></li>
                      </ul>
                      {% endfor %}
                      {% if form.trip_type.errors %}
                        <h5>Trip Type</h5>
                        <ul>
                          {% for error in form.trip_type.errors %}
                          <li><strong>{{ error|escape }}</strong></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                      {% if form.depature_date.errors %}
                        <h5>Depature Date</h5>
                        <ul>
                          {% for error in form.depature_date.errors %}
                          <li><strong>{{ error|escape }}</strong></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                      {% if form.arrival_date.errors %}
                        <h5>Arrival Date</h5>
                        <ul>
                          {% for error in form.arrival_date.errors %}
                          <li><strong>{{ error|escape }}</strong></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                      {% if form.no_of_guests.errors %}
                        <h5>Guests No.</h5>
                        <ul>
                          {% for error in form.no_of_guests.errors %}
                          <li><strong>{{ error|escape }}</strong></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}


<!--
   -                   <div class="col s12 m4">
   -                     <label for="">Guests</label>
   -                     <select id="" name="" class="browser-default">
   -                       <option value="1" selected>1</option>
   -                       <option value="2">2</option>
   -                       <option value="3">3</option>
   -                       <option value="4">4</option>
   -                       <option value="5">5</option>
   -                       <option value="6">6</option>
   -                     </select>
   -                   </div>
   - 
   -                   <div class="col s12 m4">
   -                   <label for="">From</label>
   -                   <select id="" name="" class="browser-default">
   - <option value="SIN" selected>Singapore (SIN)</option>
   -                     <option value="2">2</option>
   -                     <option value="3">3</option>
   -                     <option value="4">4</option>
   -                     <option value="5">5</option>
   -                     <option value="6">6</option>
   -                   </select>
   -                   </div>
   - 
   -                   <div class="col s12 m4">
   -                   <label for="">To</label>
   -                   <select id="" name="" class="browser-default">
   -                     <option value="1" selected>New York (JFK)</option>
   -                     <option value="2">2</option>
   -                     <option value="3">3</option>
   -                     <option value="4">4</option>
   -                     <option value="5">5</option>
   -                     <option value="6">6</option>
   -                   </select>
   -                   </div>
   -->
                </form>
            </div>
          </section>
        </div>


      

<section class="container testimonials">
    <div class="row">
      <div class="col s4"> 
        <i class="large mdi-hardware-watch"></i>
        <h4>Fly like a boss</h4>
        <p>
          Lorem consectetur dolor quidem nulla veritatis quos soluta. ullam molestiae consequuntur doloremque amet non repellendus sequi sit eum! suscipit possimus quia quam nihil facere. nostrum cum quas excepturi optio perferendis incidunt. Consectetur atque consequatur cum aliquam at alias consequuntur libero deserunt soluta voluptates magnam tenetur cumque eveniet officiis, quisquam! Minus itaque vel deserunt rem reiciendis dolore quas voluptate. Molestias quibusdam voluptatum.
        </p>
        </div>
      <div class="col s4"> 
      <i class="large mdi-action-face-unlock"></i>
      <h4>Fly Higher</h4>
      <p>
Lorem porro ab labore harum numquam. minima nam mollitia architecto ea magnam! repellendus consectetur ullam fuga omnis sed in nam ducimus. debitis a expedita doloremque sint voluptate eum porro a? Elit deleniti enim nemo quidem beatae vero consequatur aut facilis veniam odit. Pariatur unde aliquid laboriosam a aut? Ratione officia qui laboriosam eligendi fugit quis! Eveniet alias amet quos recusandae. </p></div>

      <div class="col s4"> 
      <i class="large mdi-action-favorite"></i>
      <h4>Satisfaction</h4>
      <p>
        lorem quasi natus tempora harum aliquam. vel ad voluptate quas quod laborum dicta corporis quidem, laborum nulla. impedit labore vitae corporis deserunt ea rem omnis maiores? placeat quia repellat saepe! Amet velit tenetur quidem eius ipsum, animi iure obcaecati. Iusto dolorum ducimus aperiam autem magni blanditiis ratione accusantium ipsum perferendis. Quos suscipit vero dolore quisquam nam asperiores, quo, voluptas natus!</p></div>
    </div>

</section>
{% endblock content %}
